* {
  box-sizing: border-box;
}

body{
  font-family: 'Josefin Sans', sans-serif;
}

.nav-elements{
  display: flex;
  width: 100%;
  background-color: khaki;
  justify-content: space-around;
  align-items: center;
  height: 140px;
}

.nav-elements  i {
  font-size: 40px;
}

.nav-elements h2 {
  font-size: 20px;
}

.nav-elements h3 {
  font-size: 15px;
}

.nav-option{
  text-align: center;
}

.title-container {
  position: absolute;
  font-size: 35px;
  background-color: red;
  top: 170px;
  right: 50%;
  width: 500px;
  margin-right: -250px;
  text-align: center;
}

.article-container{
  display: flex;
  flex-wrap: wrap;
}

.main-article{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: lightblue;
  width: 50%;
  height: 600px;
  padding: 50px;
  border: 1px solid red;
}

.first-row {
  padding-top: 150px;
}

.main-article h3 {
  font-size: 25px;
  display: flex;
  align-items: center;
}

.main-article h3 > i {
  font-size: 50px;
  padding-right: 20px;
}

.main-article h2 {
  font-size: 40px;
  padding: 20px 0;
}

.main-article h2 > i {
  font-size: 20px;
}

.main-article span {
  font-size: 20px;
  margin-right: 20px;
}

.membership-container{
  background-color: lightgreen;
  width: 100%;
  height: 600px;
  padding: 9% 40% 5% 15%;
  font-size: 24px;
  line-height: 30px;
}

.membership-container ul {
  padding: 5% 0 0 5%;
}

.membership-container i {
  float: right;
  font-size: 200px;
  margin-right: -250px;
  margin-top: -55px;
}

.membership-container li {
  list-style: circle;
  padding: 5px 0 5px 5px;
}

.posts-container{
  display: flex;
  background-color: lightpink;
  width: 100%;
  /* height: 600px; */
  border: 2px solid red;
}

.post-article {
  padding: 7% 2%;
  min-width: 250px;
  height: 600px;
}

.post-article h2{
  font-size: 30px;
  padding: 10px 0;
}

.post-article h3{
  font-size: 15px;
  padding: 10px 0;
}

.post-article p{
  font-size: 15px;
  line-height: 30px;
  padding: 10px 0;
}

.more-articles-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.more-articles-link a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  border-bottom: 2px solid black;
}

.pre-launch-container{
  background-color: lightsteelblue;
  width: 100%;
  text-align: center;
  padding: 50px;
}

.pre-launch-container h2 {
  font-size: 35px;
  padding-bottom: 30px;
}
.pre-launch-container span {
  display: block;
}

.pre-launch-container p {
  font-size: 20px;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.pre-launch-container button {
  padding: 10px 40px;
  margin-bottom: 30px;
}

.pre-launch-container i {
  display: block;
  font-size: 300px;
}

.person-container {
  height: 300px;
  padding: 50px;
  font-size: 15px;
  line-height: 20px;
}

.person-container i {
  float: left;
  font-size: 180px;
  padding-right: 20px;
}

.person-container span {
  display: block;
  margin-bottom: 30px;
  line-height: 30px;
}

.authors-container{
  display: flex;
  background-color: lightpink;
  width: 100%;
}

.author-article{
  width: 50%;
}

.footer-links{
  text-align: center;
}

.footer-links > li{
  display: inline;
}